<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer class="footer">
    <div class="footer-datos">
      <div class="datos">
        <ul class="datos">
          <li>EL HALCON 900</li>
          <li>Valle de Anisacate</li>
          <li>Cordoba, Argentina</li>
          <li>CP:5000</li>
        </ul>
      </div>
      <nav class="nav-bar-footer">
        <ul class="nav-link-footer">
          <li><a href="#">Home</a></li>
          <li><a href="#listaProductos">Productos</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="/Contaco">Contacto</a></li>
        </ul>
      </nav>
      <div class="boton-suscripcion">
        <p id="suscripcion">QUIERO SUSCRIBIRME AL NEWSLETTER</p>
        <form action="/suscripcion">
          <input type="text" placeholder="Correo electronico" />
          <button type="submit">ENVIAR</button>
        </form>
      </div>
    </div>
    <div class="pie-de-pagina">
      <p><small> 2023 WILF LIFE - Todos los derechos reservados </small></p>
    </div>
  </footer>
</body>

</html>