<!DOCTYPE html>
<html lang="es">
<head>
    <title>WILD LIFE</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/style-inicio.css" type="text/css" />   
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@100&display=swap"rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7b4fce43cc.js"crossorigin="anonymous"></script>
    <script defer src="index.js"></script>

</head>
</html>