<!DOCTYPE html>
<html lang="es">

<%- include ("./partials/head.ejs") %>

<body class="inicio-sesion">

    <%- include ("./partials/header.ejs") %>

  <form class="login" action="/login" method="post">
    <div class="contenedor-inicio">


      <h1 id="texto-inicio">Hola! Completa los datos para acceder a tu cuenta.</h1>

      <label for="userName">Nombre de Usuario</label>
      <input type="text" id="userName" name="userName" placeholder="Usuario" />
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" placeholder="Contraseña" />
      <div class="recordad-usuario">
        <label for="rememberUser">Recordar Usuario</label>
        <input type="checkbox" id="rememberUser" />

      </div>
      <div class="olvide-contraseña">
        <label for="staylogged">Olvide contraseña</label>
        <input type="checkbox" id="staylogged" />
      </div>
      <button class="btn-1" type="submit" onclick="">Ingresar</button>
  </form>
  <p>¿Todavía no tenés una cuenta? - <a href="/register">Registrate</a></p>
  </div>

    <%- include ("./partials/footer.ejs") %>

</body>

</html>