<!DOCTYPE html>
<html lang="es">

<%- include ("./partials/head.ejs") %>

<body class="inicio-sesion">
  <header>
    <%- include ("./partials/header.ejs") %>
  </header>

  <form class="login" action="/login" method="post">
    <div class="contenedor-inicio">


      <h1 id="texto-inicio">Hola! Completa los datos para acceder a tu cuenta.</h1>

      <label for="userName">Nombre de Usuario</label>
      <input type="text" id="userName" name="userName" placeholder="Usuario" />
      <label for="password">Contrase単a</label>
      <input type="password" id="password" name="password" placeholder="Contrase単a" />
      <div class="recordad-usuario">
        <label for="rememberUser">Recordar Usuario</label>
        <input type="checkbox" id="rememberUser" />

      </div>
      <div class="olvide-contrase単a">
        <label for="staylogged">Olvide contrase単a</label>
        <input type="checkbox" id="staylogged" />
      </div>
      <button class="btn-1" type="submit">Ingresar</button>
  </form>
  </div>
  <footer>
    <%- include ("./partials/footer.ejs") %>
  </footer>
</body>

</html>