<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WILD LIFE/Productos</title>
    <link rel="stylesheet" href="CSS/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@100&display=swap"rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7b4fce43cc.js"crossorigin="anonymous"></script>
    <script defer src="index.js"></script>
</head>

<body>
    <header >
      <%- include ("./partials/header.ejs") %>
      </header>
      <div id="listaProductos">
        <h2>LISTA DE PRODUCTOS</h2>
      </div>
    </div>
    <div class="productos">
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img id="carpaIglu" src="imagenes/CARPA IGLU.jpg" alt="CARPA IGLU" />
        </a>
        <p class="textoCarpa">Carpa Iglu para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA CANADIENSE.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa Canadiense para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA1.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa BIKE PRO 2 - Northland</p>
        <p><strong> $99.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img id="carpaIglu" src="imagenes/CARPA IGLU.jpg" alt="CARPA IGLU" />
        </a>
        <p class="textoCarpa">Carpa Iglu para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA CANADIENSE.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa Canadiense para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA1.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa BIKE PRO 2 - Northland</p>
        <p><strong> $99.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img id="carpaIglu" src="imagenes/CARPA IGLU.jpg" alt="CARPA IGLU" />
        </a>
        <p class="textoCarpa">Carpa Iglu para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA CANADIENSE.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa Canadiense para 4 persona</p>
        <p><strong> $35.000 </strong></p>
        <button>Ver Producto</button>
      </article>
      <article class="articulo">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            id="carpaCanadiense"
            src="imagenes/CARPA1.jpg"
            alt="CARPA CANADIENSE"
          />
        </a>
        <p class="textoCarpa">Carpa BIKE PRO 2 - Northland</p>
        <p><strong> $99.000 </strong></p>
        <button>Ver Producto</button>
      </article>
    </div>  
    <footer >
      <%- include ("./partials/footer.ejs") %>
    </footer>  
</body>
</html>