<!DOCTYPE html>
<html lang="es">

<%- include ("./partials/head.ejs") %>

  <body>
    <header>
      <%- include ("./partials/headerlogueado.ejs") %>
    </header>

    <div id="listaProductos">
      <h2>LISTA DE PRODUCTOS</h2>
      <input type="text" id="searchInput" placeholder="...Buscador Productos...">

    </div>
    <p id="noResults" class="no-results"> ...No se encontraron resultados...</p>
    <section id="productos-container">

    </section>

    <footer>
      <%- include ("./partials/footer.ejs") %>
    </footer>
  </body>

</html>